.create-page {
	button {
		.btn;
		.btnColor("secondary");
	}

	.description {
		font-size: 14px;
		background: #FFF;
		padding:10px;
		margin:10px 0;
		.border-radius(10px);
		p {
			padding:10px 0 0;
			margin:0;
			font-family: 'LatoRegularItalic';
			color:#CCC;
		}
		p:first-child{
			padding:0;
		}
	}
}